* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(203, 228, 205, 0);
}
                  

                    /* NOT ACTIVE */
#reservetop {
    position: fixed;
    font-size: 60px;
    z-index: 2;
    /* background-color: black; */
    height: 90px;
    display: flex;
    align-items: center;
}

#hiddenreserve {
    visibility: hidden;
}



a:link{
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
}

#reservetop a {
    color: black;
    /* background-color: black; */
}

#reservetop a:hover {
    background-color: rgba(203, 228, 205, 0);
    color: white;
    background-color: black;

}

#reservetop:hover #hiddenreserve {
    visibility: visible;

}
                        /* END OF NOT ACTIVE */

                      /* section 1 */
.cover {
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
        
}

h1 {
    position: absolute;
    font-size: 5vw;
    align-self: center;
    margin-left: 38.85%;
    margin-top: -9.41%;
    letter-spacing: 0.3em ;
    z-index: 1;
    text-shadow: -5px 2px 5px rgb(0, 0, 0);
}

#subheading {
    position: absolute;
    font-size: 6vw;
    align-self: center;
    margin-left: 15%;
    letter-spacing: 0.1em ;
    z-index: 1;
    text-shadow: -5px 2px 10px rgb(0, 0, 0);
}

.bannerpic {
    width: 25%;
    height: 19vw;
    float: left;
    object-fit: cover;
    filter: brightness(80%);
}

.bannerpic:hover {
    filter: brightness(100%);
}

.bannerbuttons {
    position: absolute;
    z-index: 1;
    align-self: center;
    width: 50vw;
    margin-left: 34.48%;
    margin-top: 10%;
    
}

.bannerbuttons a {
    color: white;
    font-size: 2em;
    padding: 2.5%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.171);
}

/* .bbuttons {
    padding: 5%;
    background-color: red;
} */

                    /* SECTION 2 */

.section2 {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    background-color: rgba(245, 207, 181, 0.507);
    
}

.leftcolumn {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.rightcolumn {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.ourstory {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

#ourstorytitle {
    font-size: 2em;
    text-transform: uppercase;
}

#ourstorytext{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    width: 80%;
    text-align: justify;
    margin-top: 2%;

}

#groupphoto {
    width: 100%;
    margin-left: -10%;
    border: 1px solid black;

} 

                    /* SECTION 3 */
.section3 {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* padding-top: 2.5%; */
    /* padding-bottom: 2.5%; */
    /* background-color: rgb(245, 207, 181); */
    background-color: rgba(245, 207, 181, 0.507);
    padding-bottom: 5%;


}

#akitamap {
    border: 1px solid black;
    /* margin-left: 19%; */
    /* width: 44.5vw; */
    width: 34vw;
    /* height: 30vw; */
    height: 25vw;
    margin-left: 20%;
    
    
}

address {
    font-size: 1.2em;
    margin-left: -5%;
    align-self: center;
    font-style: normal;
}


#reserve a:hover {
    background-color: red;
}


                        /* NAV BAR */
.botnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}

.botnavlist .botnavlink {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 300%;
}

.botnavlist .botnavlink:hover {
    /* background-color: rgb(41, 41, 41); */
    background-color: rgb(203, 228, 205);
    color: black;
}

                        /* SECTION 4 */
.section4 {
    display: flex;
    /* margin-bottom: 10%; */
}

.botyt {
    width: 33.5%;
    height: 18vw;
    background-color: black;
    
}

                        /* END BAR FOOTER */
.endbar {
    background-color: rgb(0, 0, 0);
    text-align: left;
    color: rgb(255, 255, 255);
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.endbar a:hover {
    background-color: rgb(203, 228, 205);
    color: black;
    
}

.leftend {
    display: flex;
    flex-direction: column;
}


.midend {
    display: flex;
    flex-direction: column;
    /* text-align: justify; */
}



.rightend {
    display: flex;
    flex-direction: column;
    text-decoration-color: white;
}

.endbar a {
    color: white;
    line-height: 40px;
    
}


